<style type="text/css">
    
    .clearclass{
        background-color: #ffffff ;
        clear: left;
        width: 19%;
    }

    .imgdiv{
        text-align: center;
    }
    

</style>
<div class="main">

<div class="divclass">
	<div class="listtitle">
		<h5>Chain Store Age</h5>
		<p>Feb 22, 2016</p>
	</div>
<p class="subtitle">some random text</p>
<div class="imgdiv">
    <img src="/images/image1.jpeg" class="img">
</div>
<p class="description">When parsing a JSON file, or an XML file for that matter, you have two options. You can read the file entirely in an in-memory data structure (a tree model).</p>

<div class="actions">
    <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
    <span><i class="fa fa-share" aria-hidden="true"></i></span>
</div>
</div>

<div class="divclass">
<div class="listtitle">
	<h5>Chain Store Age</h5>
	<p>Feb 22, 2016</p>
</div>
<p class="subtitle">some random text</p>
<div class="imgdiv">
    <img src="/images/image2.jpeg"  class="img">
</div>
<p class="description">You can also setup the environment in visual studio code. Run Ctrl + Shift + P, Then type ctr in the box that appears and select tasks:Configure Task Runner.</p>
<div class="actions">
    <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
    <span><i class="fa fa-share" aria-hidden="true"></i></span>
</div>
</div>

<div class="divclass">
<div class="listtitle">
	<h5>Chain Store Age</h5>
	<p>Feb 22, 2016</p>
</div>
<p class="subtitle">some random text</p>
<div class="imgdiv">
    <img src="/images/image3.jpeg"  class="img">
</div>
<p class="description">Let’s build a UI-Router for AngularJS Hello World application. It will have two “pages” (hello and about), each one having its own URL.</p>

<div class="actions">
    <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
    <span><i class="fa fa-share" aria-hidden="true"></i></span>
</div>
</div>

<div  class="divclass">
<div class="listtitle">
		<h5>Chain Store Age</h5>
		<p>Feb 22, 2016</p>
	</div>
<p class="subtitle">some random text</p>
<div class="imgdiv">
    <img src="/images/image4.jpeg"  class="img">
</div>
<p class="description">As you can guess, the nextToken() call each time gives the next parsing event: start object, start field, start array, start object.</p>
<div class="actions">
    <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
    <span><i class="fa fa-share" aria-hidden="true"></i></span>
</div>
</div>


<div  class="divclass">
<div class="listtitle">
		<h5>Chain Store Age</h5>
		<p>Feb 22, 2016</p>
	</div>
<p class="subtitle">some random text</p>
<div class="imgdiv">
    <img src="/images/image5.jpeg"  class="img">
</div>
<p class="description">When parsing a JSON file, or an XML file for that matter, you have two options. You can read the file entirely in an in-memory data structure.</p>
<div class="actions">
    <span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
    <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
    <span><i class="fa fa-share" aria-hidden="true"></i></span>
</div>
</div>

</div>