<div>
      <div class="menu-list">
          <div class="searchcontainer">
            <input type="text" class="navigate" placeholder="NAVIGATE"></input>
          </div>
            
            <ul id="menu-content">

                <li>
                  <a ui-sref="app.analytics"><span style="color: #3939d2; padding-right: 16px;" ><i class="fa fa-line-chart" aria-hidden="true"></i></span>Analytics
                  </a>
                </li>

                 <li >
                  <a ui-sref="app.news"><span style="color: #3939d2;padding-right: 16px;" ><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>News
                  </a>
                  </li>

                 <li >
                  <a ui-sref="app.boardbrief"><span style="color: #3939d2;padding-right: 16px;" ><i class="fa fa-list" aria-hidden="true"></i></span>Board Brief
                  </a>
                </li>

                <li>
                  <a ui-sref="app.briefcase"><span style="color: #3939d2;padding-right: 16px;" ><i class="fa fa-briefcase" aria-hidden="true"></i></span>Briefcase
                  </a>
                </li>

                 <li>
                  <a href="#"><span style="color: #3939d2;padding-right: 16px;" ><i class="fa fa-line-chart" aria-hidden="true"></i></span>Close menu
                  </a>
                </li>
            </ul>
          </div>
        </div>
</div>